We initialize Python imports and opens a DuckDB connection that every later cell reuses

In [1]:
import os
from pathlib import Path
import duckdb

print("cwd", Path().resolve())

candidates = []
search_roots = [
    Path("."),
    Path(".."),
    Path("./data"),
    Path("../data"),
    Path("../../data"),
]
for root in search_roots:
    if root.exists():
        candidates.extend(list(root.glob("*.duckdb")))
        candidates.extend(list(root.glob("**/*.duckdb")))

seen = set()
duckdb_files = []
for f in candidates:
    fp = str(f.resolve())
    if fp not in seen:
        seen.add(fp)
        duckdb_files.append(f.resolve())

print("duckdb files found")
for i, f in enumerate(duckdb_files[:25]):
    print(i, f)

db_file = None
for f in duckdb_files:
    if f.name == "nflpa.duckdb":
        db_file = f
        break

if db_file is None and duckdb_files:
    db_file = duckdb_files[0]

if db_file is None:
    raise RuntimeError("No duckdb file found near this notebook, rerun notebook 02 or check where you stored the database file")

con = duckdb.connect(str(db_file))
print("connected db", db_file)

tables = con.execute("SHOW TABLES").df()
tables

cwd /Users/ramko/Desktop/2025-26-NFLPA-Data-Analytics-Case-Competition/notebooks
duckdb files found
0 /Users/ramko/Desktop/2025-26-NFLPA-Data-Analytics-Case-Competition/db/nflpa.duckdb
1 /Users/ramko/Desktop/2025-26-NFLPA-Data-Analytics-Case-Competition/data/nflpa.duckdb
connected db /Users/ramko/Desktop/2025-26-NFLPA-Data-Analytics-Case-Competition/db/nflpa.duckdb

                                         name
0                                    injuries
1                   injuries_players_distinct
2                  injuries_team_week_players
3                          injury_counts_next
4                     injury_counts_next_game
5           injury_counts_next_game_with_lags
6                     injury_counts_with_lags
7               injury_outcomes_next_game_tmp
8                         injury_outcomes_tmp
9                    injury_players_next_game
10                           injury_players_w
11                    injury_players_w_plus_1
12            new_injured_players_mapped_side
13     new_injured_players_next_game_eligible
14  new_injured_players_next_game_mapped_side
15          new_injured_players_next_game_raw
16      new_injured_players_w_plus_1_eligible
17           new_injured_players_w_plus_1_raw
18                     new_injuries_next_week
19                                        pbp
20                 pca_cum_workload_artifacts
21              pca_cum_workload_index_pg_tmp
22                 pca_cum_workload_index_tmp
23                   pca_cum_workload_summary
24                                    players
25                  roster_player_positions_w
26                         roster_player_side
27                  roster_players_w_distinct
28                             rosters_weekly
29                                  schedules
30                                snap_counts
31                            team_game_weeks
32                       team_game_weeks_rest
33                    team_game_weeks_results
34                       team_season_st_stats
35                      team_week_basic_stats
36                         team_week_has_next
37                      team_week_next_played
38                            team_week_panel
39                    team_week_play_controls
40                team_week_schedule_controls
41                   team_week_score_controls
42                     team_week_travel_flags

We define small helpers for column discovery and strict required column checks so later sanity checks fail early if an upstream notebook was skipped or a column name drifted

In [2]:
import pandas as pd

SEASON_COL = "season"
WEEK_COL = "week"
TEAM_COL = "team"
PANEL_TABLE = "team_week_panel"

def _existing_cols(table_name: str) -> list[str]:
    return con.execute(f"DESCRIBE {table_name}").df()["column_name"].tolist()

def _require_cols(table_name: str, required: list[str]) -> None:
    cols = set(_existing_cols(table_name))
    missing = [c for c in required if c not in cols]
    print("Missing required columns", missing)
    if missing:
        raise RuntimeError(f"Missing columns in {table_name}, rerun earlier notebooks, missing, {missing}")

def _cols_matching(prefix: str = "", contains: str = "", suffix: str = "") -> list[str]:
    cols = _existing_cols(PANEL_TABLE)
    out = []
    for c in cols:
        if prefix and not c.startswith(prefix):
            continue
        if contains and contains not in c:
            continue
        if suffix and not c.endswith(suffix):
            continue
        out.append(c)
    return out

print("team week panel columns", len(_existing_cols(PANEL_TABLE)))

team week panel columns 152

Quick sanity check to confirm that the wide-format structure correctly reflects the expected mix of injury, workload, and control features

In [3]:
con.execute("DESCRIBE team_week_panel").df().head(30)

con.execute("""
SELECT
  column_name,
  column_type
FROM (DESCRIBE team_week_panel)
ORDER BY column_name
LIMIT 30
""").df()

                       column_name column_type
0                 Cum_Shocks_All_w     HUGEINT
1            Cum_Shocks_NonScore_w     HUGEINT
2         Cum_Shocks_ScoreLinked_w     HUGEINT
3   Cumulative_Workload_Index_pg_w      DOUBLE
4      Cumulative_Workload_Index_w      DOUBLE
5               Inj_Def_LastGame_w      DOUBLE
6                   Inj_Def_Last_w      DOUBLE
7               Inj_Def_NextGame_w      DOUBLE
8                   Inj_Def_Next_w      DOUBLE
9               Inj_Off_LastGame_w      DOUBLE
10                  Inj_Off_Last_w      DOUBLE
11              Inj_Off_NextGame_w      DOUBLE
12                  Inj_Off_Next_w      DOUBLE
13              Next_Week_Played_w     INTEGER
14              Prev_Week_Played_w     INTEGER
15                         ST_FG_w     HUGEINT
16               ST_Games_ToDate_w      BIGINT
17                 ST_KickReturn_w     HUGEINT
18                    ST_Kickoff_w     HUGEINT
19                   ST_Load_All_w     HUGEINT
20              ST_Load_NonScore_w     HUGEINT
21           ST_Load_ScoreLinked_w     HUGEINT
22                 ST_PuntReturn_w     HUGEINT
23                       ST_Punt_w     HUGEINT
24                       ST_Rare_w     HUGEINT
25                  ST_Shock_All_w     INTEGER
26          ST_Shock_All_w_minus_1     INTEGER
27          ST_Shock_All_w_minus_2     INTEGER
28          ST_Shock_All_w_minus_3     INTEGER
29             ST_Shock_NonScore_w     INTEGER

Quick sanity check to confirm that both schema views contain the same columns and types

In [4]:
df_a = con.execute("DESCRIBE team_week_panel").df()
df_b = con.execute("""
SELECT column_name, column_type
FROM (DESCRIBE team_week_panel)
ORDER BY column_name
""").df()

print("rows describe", len(df_a))
print("rows sorted", len(df_b))

dupe_names = df_a["column_name"].value_counts()
dupe_names = dupe_names[dupe_names > 1]
print("duplicate column names", dupe_names.to_dict())

mismatch = (
    df_a[["column_name", "column_type"]]
    .drop_duplicates()
    .merge(
        df_b[["column_name", "column_type"]].drop_duplicates(),
        on=["column_name", "column_type"],
        how="outer",
        indicator=True,
    )
)
mismatch = mismatch[mismatch["_merge"] != "both"]
mismatch.head(50)

rows describe 152
rows sorted 152
duplicate column names {}

Empty DataFrame
Columns: [column_name, column_type, _merge]
Index: []

Quick sanity check to confirm that the schema is stable across runs by hashing the sorted column name and type pairs

In [5]:
schema_fingerprint = con.execute("""
SELECT
  md5(string_agg(column_name || ':' || column_type, '|' ORDER BY column_name)) AS schema_md5
FROM (DESCRIBE team_week_panel)
""").df()

schema_fingerprint

schema_md5_a = con.execute("""
SELECT
  md5(string_agg(column_name || ':' || column_type, '|' ORDER BY column_name)) AS schema_md5
FROM (DESCRIBE team_week_panel)
""").df()["schema_md5"].iloc[0]

schema_md5_b = con.execute("""
WITH pairs AS (
  SELECT column_name || ':' || column_type AS pair
  FROM (DESCRIBE team_week_panel)
)
SELECT
  md5(string_agg(pair, '|' ORDER BY pair)) AS schema_md5
FROM pairs
""").df()["schema_md5"].iloc[0]

print("md5 a", schema_md5_a)
print("md5 b", schema_md5_b)
print("match", schema_md5_a == schema_md5_b)

md5 a f389500c1c710f25349b6b234ade8740
md5 b f389500c1c710f25349b6b234ade8740
match True

Quick sanity check to confirm that 'team_week_panel' exists in the connected database

In [6]:
con.execute("""
SELECT
  SUM(CASE WHEN name = 'team_week_panel' THEN 1 ELSE 0 END) AS has_team_week_panel
FROM (SHOW TABLES)
""").df()

   has_team_week_panel
0                  1.0

Quick sanity check to confirm that 'team_week_panel' has no duplicate season-week-team rows and that the key count equals the row count to ensure that the final modeling table is a perfectly unique panel

In [7]:
con.execute("""
SELECT
  COUNT(*) AS rows,
  COUNT(DISTINCT season || '-' || week || '-' || team) AS distinct_keys
FROM team_week_panel
""").df()

dups = con.execute("""
SELECT
  season,
  week,
  team,
  COUNT(*) AS n
FROM team_week_panel
GROUP BY 1,2,3
HAVING COUNT(*) > 1
ORDER BY n DESC, season, week, team
LIMIT 50
""").df()

dups

if len(dups) > 0:
    raise RuntimeError("Duplicate season week team rows exist in team_week_panel, investigate joins before proceeding")